
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* google font family inter  */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* google font family noto serif */

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* nav-bar style  */

/* common style  */
.container{
    max-width: 1140px;
    margin: 0 auto;
}
body{
    /* background: rgb(30, 30, 30); */
    background: rgba(30, 30, 30, 0.084);
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-content: center; */
    margin-top: 20px;
    margin-bottom: 120px;
}
.nav-links{
    display: flex;
    gap: 48px;
}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    color: rgb(137, 135, 161);
}
.nav-links .nav-cart{
    margin-left: 0px;
}
.nav-links .nav-cart span{
    margin-left: 10px;
}

/* .nav-links li:nth-child(1){
    color: rgb(37, 36, 50);
} */

#nav-home{
    color: rgb(37, 36, 50);
}
.nav-links .nav-cart span{
    color: rgb(0, 0, 0);
}

/* banner style  */

.banner{
    display: flex;
    /* align-items: center; */
    align-items: end;
    justify-content: center;
    margin-bottom: 120px;
}
.banner-left-side{
    flex: 1;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700px;
    color: rgb(0, 0, 0);
    margin-bottom: 13px;
    /* line-height: 79px; */
}
.unique{
    color: rgb(233, 90, 8);
}
.banner-description{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
}
.banner-right-side{
    flex: 1;
}

/* our-plant section style  */

.our-plant{
    text-align: center;
    /* margin-bottom: 83px; */
}
.our-plant-title{
    font-size: 3.1rem;
    font-weight: 700px;
    color: rgb(0, 0, 0);
    margin-bottom: 16px;
}
.our-plant-description{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 49px;
}
.flower-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
}
.flower-card{
}
.flower-card img{
    border-radius: 5px;
}
.flower-card-title{
    font-size: 1.3rem;
    font-weight: 500px;
    color: rgb(17, 17, 17);
    margin-top: 30px;
    margin-bottom: 20px;
}
.flower-price{
    font-size: 1.3rem;
    font-weight: 500px;
    color: rgb(17, 17, 17);
    margin-bottom: 30px;
}
.btn-primery{
    font-weight: 600px;
    color: rgb(255, 255, 255);
    background-color: rgb(233, 90, 8);
    padding: 20px 50px;
    border: none;
    /* border-radius: 10px; */
}

/* our-flower plant section style  */

.flower-plants-lover{
    display: flex;
    gap: 60px;
    margin-top: 210px;
    margin-bottom: 133px;
    position: relative;
    /* position: absolute; */
}
.flower-plants-lover img{
    /* width: 540px; */
    /* height: 457px; */
    flex: 1;
}
.flower-plants-lover-right-side{
    flex: 1;
}
.flower-plants-lover-right-side h1{
    margin-top: 38px;
    font-size: 3.1rem;
    font-weight: 700px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}
.flower-plants-lover ul li{
    /* width: 540px;; */
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    margin-left: 20px;
}
.badge img{
    width: 286px;
    height: 286px;
}
.badge{
    position: absolute;
    left: 350px;
    top: -150px;
}

/* latest deals section style  */

.latest-deals{
    text-align: center;
    display: none;
}
.latest-deals-title{
    font-size: 3.1rem;
    font-weight: 700px;
    color: rgb(0, 0, 0);
    margin-bottom: 16px;
}
.latest-deals-description{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 120px;
}
.latest-deals-bg-container{
    display: flex;
    width: 740px;
    height: 500px;

}
column{
    flex: 1;
    height: 100%;
}
.column1{
    background-image: url(../assets/deal-bloom.png), url(../assets/deal-ana.png);
     /* height: 400px; */
    background-position: top left, bottom left;
    background-repeat: no-repeat, no-repeat;
    /* background-size: 400px, 400px; */
    /* background-color: #f0f0f0; */
}
.column2{
    background-image: url(../assets/deal-zabo.png);
    /* height: 400px; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* colorful bunch style  */

.colorful-bunch{
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 400px; */
    padding: 190px 300px;
    text-align: center;
}
.colorful-bunch-title{
    font-size: 3rem;
    text-align: center;
    color: white;
    margin-bottom: 23px;
}
.input-field{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-field input{
    padding: 18px 20px;
    padding-right: 350px;
    color: rgba(0, 0, 0, 0.5);
}

/* footer style  */

footer{
    background-color: rgba(255, 255, 255, 0.5);
}
.footer{
    display: flex;
    gap: 110px;
    padding: 50px 100px;
}
.footer-left .footer-left-description{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 16px;
}
.footer-links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 110px;
    row-gap: 30px;
}
.footer-links li{
    list-style: none;
}
.footer-links li a{
    text-decoration: none;
    color: rgb(107, 114, 128);
}
.footer-logo{
    display: flex;
    gap: 24px;
}
.footer-logo img{
    width: 36px;
    height: 36px;
}

/* responsive for mobile view */

@media screen and (max-width: 576px) {
    /* NAV-BAR  */
    .nav-links li{
        display: none;
    }
    .nav-bar{
        margin-top: 40px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 35px;
    }
    .nav-bar img{
        width: 63px;
        height: 38px;
    }
    /* HERO BANNER  */
    .banner{
        flex-direction: column-reverse;
        margin-bottom: 65px;
    }
    .banner-left-side{
        margin-top: 28px;
        /* padding: 12px; */
        margin-left: 15px;
        margin-right: 15px;
    }
    .banner-right-side img{
        width: 100%;
    }
    /* OUR PLANT FLOWER CARD  */

    .flower-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .flower-card img{
        width: 100%;
        /* width: 171px;
        height: 114px; */
    }
    .our-plant{
        margin: 10px;
        /* margin-left: 10px;
        margin-right: 10px; */
        /* padding: 10px; */
    }
    /* flower & plants lover  */
    .flower-plants-lover{
        flex-direction: column;
        /* padding: 10px; */
        margin: 10px;
        margin-top: 41px;
        gap: 20px;
    }
    .badge{
        display: none;
    }
    /* colorful bunch  */
    .colorful-bunch{
        padding: 20px;
    }
    .input-field input{
        padding: 20px;
    }
    /* footer  */
    .footer{
        flex-direction: column;
        /* text-align: left; */
        padding: 50px 160px 50px 20px;
    }
    .footer-left .footer-left-description{
        font-size: 1rem;
    }
    .footer-links{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-logo img{
        width: 36px;
        height: 36px;
    }
}